@model INF272Group11Project.ViewModels.StaffViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PartyImages</title>
    <link rel="stylesheet" href="~/Content/INF272Project.css" type="text/css" />
</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voting Made Easy!</h1>
    <label class="Slogan">The simple and better way to vote</label>
    <ul class="NavigationBar">
        <li class="BarList"><a class="OnPage" href="@Url.Action("StaffHomePage","Staff", new { StaffGUID = Model.StaffView.staff.GUID })">Home</a></li>
        <li class="BarList"><a href="@Url.Action("UpdateStaffInfo", "Staff",  new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID })">Update Personal Info</a></li>
        <li class="BarList"><a href="@Url.Action("ChangePasswordStaff", "Staff",  new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID })">Change Password</a></li>
        <li class="BarList"><a href="@Url.Action("Index", "Report",  new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID })">Create a Report</a></li>
        <li class="BarList"><a href="@Url.Action("TotalVotes","Results", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID })">Total Votes</a></li>
        <li class="BarList"><a href="@Url.Action("NationalResults","Results", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID })">National Results</a></li>
        <li class="BarList"><a href="@Url.Action("ProvincialResults","Results",  new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID })">Provincial Results</a></li>
        <li class="BarList"><a href="@Url.Action("Logout", "Voter")">Logout</a></li>
    </ul>

    <h1 class="SecondaryHead">Please Add an image that will be Used for the Party</h1>
    
    <div class="Container">
        @using (Html.BeginForm("AddImages", "Staff", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="hidden" value="@Model.StaffView.staff.GUID" name="StaffGUID" />
            <input type="hidden" value="@Model.StaffView.staff.StaffID" name="id" />
            <br />
            <br />
            <label>Upload Party Logo Image: </label>
            <input id="BtnUploadPartyImage" type="file" value="Choose File" name="Logo" />
            <br />
            <br />
            <label>Upload Party Leader Image: </label>
            <input id="BtnUploadPartyLeaderImage" type="file" value="Choose File" name="LeadPic" />
            <br />
            <br />
            <input id="BtnInsertImages" type="submit" value="Upload Images" />
        }
        @using (Html.BeginForm("StaffHomePage", "Staff"))
        {
            <input id="BtnCancel" type="submit" value="Cancel" />
        }
    </div>
</body>
</html>
