@model INF272Group11Project.ViewModels.StaffViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterParty</title>
    <link rel="stylesheet" href="~/Content/INF272Project.css" type="text/css" />
</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voting Made Easy!</h1>
    <label class="Slogan">The simple and better way to vote</label>
    <ul class="NavigationBar">
        <li class="BarList"><a class="OnPage" href="@Url.Action("StaffHomePage","Staff", new { StaffGUID = Model.StaffView.staff.GUID})">Home</a></li>
        <li class="BarList"><a href="@Url.Action("UpdateStaffInfo", "Staff", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Update Personal Info</a></li>
        <li class="BarList"><a href="@Url.Action("ChangePasswordStaff", "Staff", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Change Password</a></li>
        <li class="BarList"><a href="@Url.Action("Index", "Report", new {StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Create a Report</a></li>
        <li class="BarList"><a href="@Url.Action("TotalVotes","Results",  new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Total Votes</a></li>
        <li class="BarList"><a href="@Url.Action("NationalResults","Results", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">National Results</a></li>
        <li class="BarList"><a href="@Url.Action("ProvincialResults","Results", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Provincial Results</a></li>
        <li class="BarList"><a href="@Url.Action("SetElectionDate", "Staff", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID })">Set Election Date</a></li>
        <li class="BarList"><a href="@Url.Action("Logout", "Voter")">Logout</a></li>
    </ul>

    <h1 class="SecondaryHead">Please Enter The New Party Information!</h1>
    <h1 class="SecondaryHead" style="color: red">@ViewBag.message</h1>
    <h1 class="SecondaryHead" style="color: green">@ViewBag.success</h1>
    <div class="Container">
        @using (Html.BeginForm("AddNewParty", "Staff", FormMethod.Post))
        {
            <input type="hidden" value="@Model.StaffView.staff.GUID" name="StaffGUID" />
            <input type="hidden" value="@Model.StaffView.staff.StaffID" name="id" />
            <br />
            <label>Party Name: </label>
            <input id="txtPartyName" type="text" name="PartyName" />
            <br />
            <br />
            <label>Party Acronym: </label>
            <input id="txtPartyAcronym" type="text" name="PartyAcronym" />
            <br />
            <br />
            <label>Phone Number: </label>
            <input id="txtPhoneNumber" type="text" name="PhoneNumber" />
            <br />
            <br />
            <label>Email Address: </label>
            <input id="txtEmail" type="text" name="Email" />
            <br />
            <br />
            <label>Headquarters Provice: </label>
            @Html.DropDownList("ProvinceID", null, htmlAttributes: new { @class = "form-control" })
            <br />
            <br />
            <label>Headquarters City/Town: </label>
            @Html.DropDownList("CityOrTownID", null, htmlAttributes: new { @class = "form-control" })
            <br />
            <br />
            <label>Headquarter Suburb: </label>
            @Html.DropDownList("SuburbID", null, htmlAttributes: new { @class = "form-control" })

            <br />
            <br />
            <label>Headquarters Street Address: </label>
            <input id="txtStreetAddress" type="text" name="StreetAddress" />
            <br />
            <br />
            <label>Website: </label>
            <input id="txtWebsite" type="text" name="Website" />
            <br />
            <br />
            <input id="BtnRegister" type="submit" value="Next  " />
        }
        @using (Html.BeginForm("StaffHomePage", "Staff"))
        {
            <input type="hidden" value="@Model.StaffView.staff.GUID" name="StaffGUID" />

            <input type="hidden" value="@Model.StaffView.staff.StaffID" name="id" />

            <input id="BtnCancel" type="submit" value="Cancel" />
        }
    </div>
</body>
</html>
