
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterStaff</title>
    <link rel="stylesheet" href="~/Content/INF272Project.css" type="text/css" />
</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voting Made Easy!</h1>
    <label class="Slogan">The simple and better way to vote</label>
    <ul class="NavigationBar">
        <li class="BarList"><a class="OnPage" href="@Url.Action("StaffHomePage","Staff")">Home</a></li>
        <li class="BarList"><a href="@Url.Action("UpdateStaffInfo", "Staff")">Update Personal Info</a></li>
        <li class="BarList"><a href="@Url.Action("ChangePasswordStaff", "Staff")">Change Password</a></li>
        <li class="BarList"><a href="@Url.Action("Index", "Report")">Create a Report</a></li>
        <li class="BarList"><a href="@Url.Action("TotalVotes","Results")">Total Votes</a></li>
        <li class="BarList"><a href="@Url.Action("NationalResults","Results")">National Results</a></li>
        <li class="BarList"><a href="@Url.Action("ProvincialResults","Results")">Provincial Results</a></li>
        <li class="BarList"><a href="@Url.Action("Logout", "Voter")">Logout</a></li>
    </ul>
    <h1 class="SecondaryHead">Please Enter The New Staff Information!</h1>
    <div class="Container">
        @using (Html.BeginForm("AddNewStaff", "Staff"))
        {
            <br />
            <label>User Name: </label>
            <input id="txtStaffIDNumber" type="text" name="StaffIDNumber" />
            <br />
            <br />
            <label>First Names: </label>
            <input id="txtFirstName" type="text" name="FirstName" />
            <br />
            <br />
            <label>Last Name: </label>
            <input id="txtLastName" type="text" name="LastName" />
            <br />
            <br />
            <label>Email Address: </label>
            <input id="txtEmail" type="text" name="Email" />
            <br />
            <br />
            <label>Staff Position:</label>
            <select id="dropdowntipo">
                <option value="Position1">Position1</option>
                <option value="Position2">Position2</option>
                <option value="Position3">Position3</option>
            </select>
            <br />
            <br />
            <label>Phone Number: </label>
            <input id="txtPhoneNumber" type="text" name="PhoneNumber" />
            <br />
            <br />
            <label>Password: </label>
            <input id="txtPassword" type="password" name="Password" />
            <br />
            <br />
            <label>Confirm Password: </label>
            <input id="txtConfrimPassword" type="password" name="ConfrimPassword" />
            <br />
            <br />
            <label>Select Security Question: </label>
            <select id="dropdowntipo">
                <option value="Question1">Question1</option>
                <option value="Question2">Question2</option>
                <option value="Question3">Question3</option>
            </select>
            <br />
            <br />
            <label>Security Question: </label>
            <input id="txtSecurityQuestionAnswer" type="text" name="SecurityAnswer" />
            <br />
            <br />
            <input id="BtnRegister" type="submit" value="Register" />
        }
        @using (Html.BeginForm("StaffHomePage", "Staff"))
        {
            <input id="BtnCancel" type="submit" value="Cancel" />
        }
    </div>
</body>
</html>
