@model INF272Group11Project.ViewModels.StaffViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StaffHomePage</title>
    <link rel="stylesheet" type="text/css" href="~/Content/INF272Project.css" />
</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voting Made Easy!</h1>
    <label class="Slogan">The simple and better way to vote</label>
    <br />
    <ul class="NavigationBar">
        <li class="BarList"><a class="OnPage" href="@Url.Action("StaffHomePage","Staff", new { StaffGUID = Model.StaffView.staff.GUID})">Home</a></li>
        <li class="BarList"><a href="@Url.Action("UpdateStaffInfo", "Staff", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Update Personal Info</a></li>
        <li class="BarList"><a href="@Url.Action("ChangePasswordStaff", "Staff", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Change Password</a></li>
        <li class="BarList"><a href="@Url.Action("Index", "Report", new {StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Create a Report</a></li>
        <li class="BarList"><a href="@Url.Action("TotalVotes","Results",  new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Total Votes</a></li>
        <li class="BarList"><a href="@Url.Action("NationalResults","Results", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">National Results</a></li>
        <li class="BarList"><a href="@Url.Action("ProvincialResults","Results", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Provincial Results</a></li>
        <li class="BarList"><a href="@Url.Action("SetElectionDate", "Staff", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID })">Set Election Date</a></li>
        <li class="BarList"><a href="@Url.Action("Logout", "Voter")">Logout</a></li>
    </ul>
    <h1 class="SecondaryHead">You can use the below tools to insert, update, or delete information from the system!</h1>
    <h1 class="SecondaryHead" style="color: red">@ViewBag.message</h1>
    <h1 class="SecondaryHead" style="color: green">@ViewBag.success</h1>
    <div class="Container">
        <br />
        @using (Html.BeginForm("RegisterParty", "Staff", FormMethod.Post))

        {
            <input type="hidden" value="@Model.StaffView.staff.GUID" name="StaffGUID"/>
            <input type="hidden" value="@Model.StaffView.staff.StaffID" name="id"/>
            <input id="BtnRegisterNewParty" type="submit" value="Register New Party" />
        }
        <br />
        <br />
        @using (Html.BeginForm("UpdateOrDeleteParty", "Staff", FormMethod.Post))
        {
            <input type="hidden" value="@Model.StaffView.staff.GUID" name="StaffGUID" />
            <input type="hidden" value="@Model.StaffView.staff.StaffID" name="id" />
            <input id="BtnUpdateParty" type="submit" value="Update Or Delete Party" />
        }
        <br />
        <br />
        @using (Html.BeginForm("RegisterCandidate", "Candidate", FormMethod.Post))
        {
            <input type="hidden" value="@Model.StaffView.staff.GUID" name="StaffGUID" />
            <input type="hidden" value="@Model.StaffView.staff.StaffID" name="id" />
            <input id="BtnRegisterCandidate" type="submit" value="Register Candidate" name="RegisterCandidate" />
        }
        <br />
        <br />
        @using (Html.BeginForm("UpdateOrDeleteCandidate", "Candidate"))
        {
            <input type="hidden" value="@Model.StaffView.staff.GUID" name="StaffGUID" />
            <input type="hidden" value="@Model.StaffView.staff.StaffID" name="id" />
            <input id="BtnSearchCandidate" type="submit" value="Update Or Delete Candidate" name="SearchCandidate" />
        }
        @using (Html.BeginForm("AddVotingStation", "VotingStation", FormMethod.Post))
        {
            <input type="hidden" value="@Model.StaffView.staff.GUID" name="StaffGUID" />
            <input type="hidden" value="@Model.StaffView.staff.StaffID" name="id" />
            <input id="BtnAddVotingStationStaffHome" type="submit" value="Add Voting Station" />
        }
        <br />
        <br />
        @using (Html.BeginForm("UpdateDeleteVotingStation", "VotingStation", FormMethod.Post))
        {
            <input type="hidden" value="@Model.StaffView.staff.GUID" name="StaffGUID" />
            <input type="hidden" value="@Model.StaffView.staff.StaffID" name="id" />
            <input id="BtnUpdateDeleteVotingStation" type="submit" value="Update Or Delete A Voting Station" />
        }
        <br />
        <br />
        @using (Html.BeginForm("RegisterStaff", "Staff", FormMethod.Post))
        {
            <input type="hidden" value="@Model.StaffView.staff.GUID" name="StaffGUID" />
            <input type="hidden" value="@Model.StaffView.staff.StaffID" name="id" />
            <input id="BtnRegisterStaff" type="submit" value="Register Staff" />
        }

    </div>
</body>
</html>
