
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StaffHomePage</title>
    <link rel="stylesheet" type="text/css" href="~/Content/INF272Project.css" />
</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voting Made Easy!</h1>
    <label class="Slogan">The simple and better way to vote</label>
    <br />
    <ul class="NavigationBar">
        <li class="BarList"><a class="OnPage" href="@Url.Action("StaffHomePage","Staff")">Home</a></li>
        <li class="BarList"><a href="@Url.Action("UpdateStaffInfo", "Staff")">Update Personal Info</a></li>
        <li class="BarList"><a href="@Url.Action("ChangePasswordStaff", "Staff")">Change Password</a></li>
        <li class="BarList"><a href="@Url.Action("RegisterStaff", "Staff")">Register Staff</a></li>
        <li class="BarList"><a href="@Url.Action("RegisterParty", "Staff")">Register Party</a></li>
        <li class="BarList"><a href="@Url.Action("Logout", "Voter")">Logout</a></li>
    </ul>
    <h1 class="SecondaryHead">You can use the below tools to insert, update, or delete information from the system!</h1>
    <div class="Container">
        @using (Html.BeginForm("RegisterParty", "Staff"))
        {
            <input id="BtnRegisterNewParty" type="submit" value="Register New Party" />
        }
        @using (Html.BeginForm("AddCandidate", "Candidate"))
        {
            <input id="BtnAddCandidate" type="submit" value="Add Candidate" name="CandidateAdd"/>
        }
        @using (Html.BeginForm("SearchCandidate", "Candidate"))
        {
            <input id="BtnSearchCandidate" type="submit" value="Search Candidate" name="SearchCandidate"/>
        }
        @using (Html.BeginForm("AddVotingStation", "VotingStation"))
        {
            <input id="BtnAddVotingStation" type="submit" value="Add Voting Station" />
        }
        @using (Html.BeginForm("NationalResults", "Staff"))
        {
            <input id="BtnNationalResults" type="submit" value="NationalResults" />
        }
        @using (Html.BeginForm("UpdateDeleteVotingStation", "VotingStation"))
        {
            <input id="BtnUpdateDeleteVotingStation" type="submit" value="Update Or Delete A Voting Station" />
        }
        @using (Html.BeginForm("RegisterStaff", "Staff"))
        {
            <input id="BtnRegisterStaff" type="submit" value="Register Staff" />
        }
        @using (Html.BeginForm("TotalVotes", "Staff"))
        {
            <input id="BtnTotalVotes" type="submit" value="Total Votes" />
        }
        @using (Html.BeginForm("ProvincialResults", "Staff"))
        {
            <input id="BtnProvincialResults" type="submit" value="Provincial Results" />
        }

    </div>
</body>
</html>
