@model INF272Group11Project.Models.Staff
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateStaffInfo</title>
    <link rel="stylesheet" href="~/Content/INF272Project.css" type="text/css" />
</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voting Made Easy!</h1>
    <label class="Slogan">The simple and better way to vote</label>
    <ul class="NavigationBar">
        <li class="BarList"><a class="OnPage" href="@Url.Action("StaffHomePage","Staff", new { StaffGUID = Model.GUID})">Home</a></li>
        <li class="BarList"><a href="@Url.Action("UpdateStaffInfo", "Staff", new { StaffGUID = Model.GUID, id = Model.StaffID})">Update Personal Info</a></li>
        <li class="BarList"><a href="@Url.Action("ChangePasswordStaff", "Staff", new { StaffGUID = Model.GUID, id = Model.StaffID})">Change Password</a></li>
        <li class="BarList"><a href="@Url.Action("Index", "Report", new { StaffGUID = Model.GUID, id = Model.StaffID})">Create a Report</a></li>
        <li class="BarList"><a href="@Url.Action("TotalVotes","Results", new { StaffGUID = Model.GUID, id = Model.StaffID})">Total Votes</a></li>
        <li class="BarList"><a href="@Url.Action("NationalResults","Results", new { StaffGUID = Model.GUID, id = Model.StaffID})">National Results</a></li>
        <li class="BarList"><a href="@Url.Action("ProvincialResults","Results", new {StaffGUID = Model.GUID, id = Model.StaffID})">Provincial Results</a></li>
        <li class="BarList"><a href="@Url.Action("Logout", "Voter")">Logout</a></li>
    </ul>
    <h1 class="SecondaryHead">Please Update Your Information Below!</h1>
    <h1 class="SecondaryHead" style="color: red">@ViewBag.message</h1>
    <h1 class="SecondaryHead" style="color: green">@ViewBag.success</h1>
    <div class="Container">
        @using (Html.BeginForm("doStaffUpdate", "Staff", FormMethod.Post))
        {
            <input type="hidden" value="@Model.GUID" name="StaffGUID"/>
            <input type="hidden" value="@Model.StaffID" name="id"/>
            <br />
            <br />
            <label>First Names:</label>
            @Html.EditorFor(model => model.Staff_FirstNames)
            <br />
            <br />
            <label>Last Name:</label>
            @Html.EditorFor(model => model.Staff_LastName)
            <br />
            <br />
            <label>Phone Number: </label>
            @Html.EditorFor(model => model.StaffPhoneNumber)
            <br />
            <br />
            <label>Email Address: </label>
            @Html.EditorFor(model => model.StaffEmail)
            <br />
            <br />
            <input id="BtnUpdate" type="submit" value="Update" />
        }
        @using (Html.BeginForm("StaffHomePage", "Staff", new { StaffGUID = Model.GUID} ))
        {
            <input id="BtnCancel" type="submit" value="Cancel" />
        }
    </div>
</body>
</html>
