
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateOrDeleteParty</title>
    <link rel="stylesheet" type="text/css" href="~/Content/INF272Project.css"/>
</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voting Made Easy!</h1>
    <label class="Slogan">The simple and better way to vote</label>
    <br />
    <ul class="NavigationBar">
        <li class="BarList"><a class="OnPage" href="@Url.Action("StaffHomePage","Staff")">Home</a></li>
        <li class="BarList"><a href="@Url.Action("UpdateStaffInfo", "Staff")">Update Personal Info</a></li>
        <li class="BarList"><a href="@Url.Action("ChangePasswordStaff", "Staff")">Change Password</a></li>
        <li class="BarList"><a href="@Url.Action("Index", "Report")">Create a Report</a></li>
        <li class="BarList"><a href="@Url.Action("TotalVotes","Candidate")">Total Votes</a></li>
        <li class="BarList"><a href="@Url.Action("StaffHomePage","Staff")">National Results</a></li>
        <li class="BarList"><a href="@Url.Action("StaffHomePage","Staff")">Provincial Results</a></li>
        <li class="BarList"><a href="@Url.Action("Logout", "Voter")">Logout</a></li>
    </ul>
    <h1 class="SecondaryHead">Please Select a Party and Click "Update" Or "Delete"</h1>
    <div class="Container">

        @using (Html.BeginForm("UpateParty", "Staff"))
        {
            <br />
            <br />
            <label>Select a Party: </label>
            <select id="dropdowntipo">
                <option value="Exemplo1">Party1</option>
                <option value="Exemplo2">Party2</option>
                <option value="Exemplo3">Party3</option>
            </select>
            <br />
            <br />
            <input id="BtnUpdateParty" type="submit" value="Update Party" />
        }
        @using (Html.BeginForm("StaffHomePage", "Staff"))
        {
            <input id="BtnDeleteParty" type="submit" value="Delete Party" />
        }

        @using (Html.BeginForm("StaffHomePage", "Staff"))
        {
            <input id="BtnCancel" type="submit" value="Cancel" />
        }
    </div>
</body>
</html>
