@model INF272Group11Project.Models.CandidatePosition

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register Candidate</title>
    <link rel="stylesheet" type="text/css" href="~/Content/INF272Project.css" />
</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voting Made Easy!</h1>
    <label class="Slogan">The simpler and better way to vote</label>
    <ul class="NavigationBar">
        <li class="BarList"><a href="@Url.Action("Index","Voter")">Home</a></li>
        <li class="BarList"><a href="@Url.Action("RegisterVoter", "Voter")">Register To Vote</a></li>
        <li class="BarList"><a href="@Url.Action("VoterLogin", "Voter")">Voter Login</a></li>
        <li class="BarList"><a class="OnPage" href="@Url.Action("FindVotingStation", "Voter")">Find Voting Station</a></li>
        <li class="BarList"><a href="@Url.Action("StaffLogin","Staff")">Staff Login</a></li>
    </ul>
    <h1 class="SecondaryHead"
        Are you sure you want to delete this candidate position?/h1>
    <div class="Container">

        @using (Html.BeginForm("Delete2", "Candidate", FormMethod.Post))
        {
            <div>
                <h4>Candidate Position</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CandidatePosition_Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CandidatePosition_Description)
                    </dd>

                    <input type="hidden" value=@TempData["CandidatePositionEditID"] name="CandidatePositionID" ID="CandidatePositionID" />

                    <br />

                    <br />


                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" /> |
                            <a href="javascript:void(0);" onclick="history.go(-1);">Back</a>
                        </div>
                    }

                    <br />
                    <label>@TempData["message"]</label>
                    <label>@TempData["success"]</label>
</div>
        }

</body>
</html>
