@model INF272Group11Project.ViewModels.CandidateVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update or Delete Candidate</title>
    <link rel="stylesheet" type="text/css" href="~/Content/INF272Project.css" />
</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voting Made Easy!</h1>
    <label class="Slogan">The simpler and better way to vote</label>
    <ul class="NavigationBar">
        <li class="BarList"><a class="OnPage" href="@Url.Action("StaffHomePage","Staff", new { StaffGUID = Model.StaffView.staff.GUID})">Home</a></li>
        <li class="BarList"><a href="@Url.Action("UpdateStaffInfo", "Staff", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Update Personal Info</a></li>
        <li class="BarList"><a href="@Url.Action("ChangePasswordStaff", "Staff", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Change Password</a></li>
        <li class="BarList"><a href="@Url.Action("Index", "Report", new {StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Create a Report</a></li>
        <li class="BarList"><a href="@Url.Action("TotalVotes","Results",  new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Total Votes</a></li>
        <li class="BarList"><a href="@Url.Action("NationalResults","Results", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">National Results</a></li>
        <li class="BarList"><a href="@Url.Action("ProvincialResults","Results", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Provincial Results</a></li>
        <li class="BarList"><a href="@Url.Action("SetElectionDate", "Staff", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID })">Set Election Date</a></li>
        <li class="BarList"><a href="@Url.Action("Logout", "Voter")">Logout</a></li>
    </ul>
    <h1 class="SecondaryHead">Update or Delete Candidate</h1>
    <h1 class="SecondaryHead" style="color: red">@ViewBag.message</h1>
    <h1 class="SecondaryHead" style="color: green">@ViewBag.success</h1>
    <div class="Container">
        @using (Html.BeginForm("SearchCandidate", "Candidate", FormMethod.Post))
        {
            <input type="hidden" value="@Model.StaffView.staff.GUID" name="StaffGUID" />
            <input type="hidden" value="@Model.StaffView.staff.StaffID" name="id" />
            <label>Select A Party:</label>
            @Html.DropDownList("PartyID", null, htmlAttributes: new { @Class = "form-control" })
            <br />

            <label>Select A Candidate Position:</label>
            @Html.DropDownList("CandidatePosition_ID", null, htmlAttributes: new { @Class = "form-Control" })

            <br />
            <br />
            <label>Select A Province: </label>
            @Html.DropDownList("ProvinceID", null, htmlAttributes: new { @Class = "form-Control" })
            <br />
            <br />
            <br />
            <input type="submit" name="submitButton" id="btSearch" value="Search" />
        }
        <br />
        <br />
        <table>
            <tr>
                <th>Candidate First Names:</th>
                <th>Candidate LastName:</th>
                <th>Candidate Position:</th>
                <th>Party: </th>
                <th>Province: </th>
                <th></th>
            </tr>

            <tr>
                <td>@Model.candidate.CandidateFirstNames</td>
                <td>@Model.candidate.CandidateLastName</td>
                <td>@Model.candidate.CandidatePosition.CandidatePosition_Description</td>
                <td>@Model.candidate.Party.PartyName</td>
                <td>@Model.candidate.Province.ProvinceName</td>
                <td>
                    @using (Html.BeginForm("UpdateCandidate", "Candidate", FormMethod.Post))
                    {
                        <input type="hidden" value="@Model.StaffView.staff.GUID" name="StaffGUID" />
                        <input type="hidden" value="@Model.StaffView.staff.StaffID" name="id" />
                        <input type="hidden" value="@Model.candidate.Candidate_ID" name="CandidateID" />
                        <input type="submit" value="Update" name="Update" />
                    }
                    @using (Html.BeginForm("DeleteCandidate", "Candidate", FormMethod.Post))
                    {
                        <input type="hidden" value="@Model.StaffView.staff.GUID" name="StaffGUID" />
                        <input type="hidden" value="@Model.StaffView.staff.StaffID" name="id" />
                        <input type="hidden" value="@Model.candidate.Candidate_ID" name="CandidateID" />
                        <input type="submit" value="Delete" name="Delete" />
                    }
                </td>
            </tr>
        </table>

        @using (Html.BeginForm("StaffHomePage", "Staff"))
        {
            <input type="hidden" value="@Model.StaffView.staff.GUID" name="StaffGUID" />
            <input type="hidden" value="@Model.StaffView.staff.StaffID" name="id" />
            <input type="submit" name="submitButton" id="btnCancel" value="Cancel" />
        }
    </div>
</body>
</html>
