@model INF272Group11Project.ViewModels.ReportViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MakeProvincialReport</title>
    <link rel="stylesheet" type="text/css" href="~/Content/INF272Project.css" />
</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voting Made Easy!</h1>
    <label class="Slogan">The simple and better way to vote</label>
    <br />
    <ul class="NavigationBar">
        <li class="BarList"><a class="OnPage" href="@Url.Action("StaffHomePage","Staff", new { StaffGUID = Model.StaffView.staff.GUID})">Home</a></li>
        <li class="BarList"><a href="@Url.Action("UpdateStaffInfo", "Staff", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Update Personal Info</a></li>
        <li class="BarList"><a href="@Url.Action("ChangePasswordStaff", "Staff", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Change Password</a></li>
        <li class="BarList"><a href="@Url.Action("Index", "Report", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Create a Report</a></li>
        <li class="BarList"><a href="@Url.Action("TotalVotes","Candidate", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Total Votes</a></li>
        <li class="BarList"><a href="@Url.Action("StaffHomePage","Staff", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">National Results</a></li>
        <li class="BarList"><a href="@Url.Action("StaffHomePage","Staff", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Provincial Results</a></li>
        <li class="BarList"><a href="@Url.Action("Logout", "Voter")">Logout</a></li>
    </ul>
    <h1 class="SecondaryHead">Here is a preview of the report!</h1>
    
        @using (Html.BeginForm("ExportPDFProvincial", "Report"))
        {
            <input type="hidden" value="@Model.StaffView.staff.GUID" name="StaffGUID" />
            <input type="hidden" value="@Model.StaffView.staff.StaffID" name="id" />

            <div class="panel panel-success">
                <div><strong>Provincial Results Report:</strong></div>
            </div>

            <div class="panel">
                @if (Model.data != null)
                {
                    <img src="@Url.Action("Chart","Report")" />
                }
            </div>

            <div class="panel panel-info">
                @foreach (var group in Model.provincialReports)
                {
                    <h4>@group.Key</h4>
                    <table class="table table-striped">
                        <tr>
                            <th>Election Date:</th>
                            <th>Party Name:</th>
                            <th>Province Name:</th>
                            <th>Candidate Name:</th>
                            <th>Total Votes:</th>
                            <th>Vote Percentage:</th>
                        </tr>

                       @foreach (INF272Group11Project.ViewModels.ReportViewModel.ProvincialReports groupItem in group)
                        {
                            <tr>
                                <td>@groupItem.ElectionDate</td>
                                <td>@groupItem.PartyName</td>
                                <td>@groupItem.ProvinceName</td>
                                <td>@groupItem.CandidateName</td>
                                <td>@groupItem.TotalVotes.ToString()</td>
                                <td>@groupItem.VotePercentage.ToString()</td>
                            </tr>
                        }

                    </table>
                }
                <h3>Grand Total: <strong>@Model.provincialReports.Sum(group => group.Sum(item => item.TotalVotes)).ToString()</strong></h3>
            </div>

            <input id="BtnPrintReport" type="submit" value="ExportPDF" />
        }
    </body>
</html>
