
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NationalReport</title>
    <link rel="stylesheet" type="text/css" href="~/Content/INF272Project.css" />
</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voting Made Easy!</h1>
    <label class="Slogan">The simple and better way to vote</label>
    <br />
    <ul class="NavigationBar">
        <li class="BarList"><a class="OnPage" href="@Url.Action("StaffHomePage","Staff")">Home</a></li>
        <li class="BarList"><a href="@Url.Action("UpdateStaffInfo", "Staff")">Update Personal Info</a></li>
        <li class="BarList"><a href="@Url.Action("ChangePasswordStaff", "Staff")">Change Password</a></li>
        <li class="BarList"><a href="@Url.Action("Index", "Report")">Create a Report</a></li>
        <li class="BarList"><a href="@Url.Action("TotalVotes","Candidate")">Total Votes</a></li>
        <li class="BarList"><a href="@Url.Action("StaffHomePage","Staff")">National Results</a></li>
        <li class="BarList"><a href="@Url.Action("StaffHomePage","Staff")">Provincial Results</a></li>
        <li class="BarList"><a href="@Url.Action("Logout", "Voter")">Logout</a></li>
    </ul>
    <h1 class="SecondaryHead">Please enter the information below in order to make a report</h1>
    <div class="Container">
        @using (Html.BeginForm("MakeNationalReport", "Report"))
        {
            <br />
            <br />
            <label>Select Election Start Date: </label>
            <select id="dropdowntipo">
                <option value="Election1">ElectionYear1</option>
                <option value="Election2">ElectionYear2</option>
                <option value="Election3">ElectionYear3</option>
            </select>
            <br />
            <br />
            <label>Select Election End Date: </label>
            <select id="dropdowntipo">
                <option value="Election1">ElectionYear1</option>
                <option value="Election2">ElectionYear2</option>
                <option value="Election3">ElectionYear3</option>
            </select>
            <br />
            <br />
            <label>Do You Want To Get Results Per Province?: </label>
            <select id="dropdowntipo">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
            <br />
            <br />
            <label>Order Of Results</label>
            <select id="dropdowntipo">
                <option value="ascending">Ascending</option>
                <option value="descending">Descending</option>
            </select>
            <br />
            <br />
            <input id="BtnCreateReport" type="submit" value="Create Report" />
        }
        @using (Html.BeginForm("Index", "Report"))
        {
            <input id="BtnCancel" type="submit" value="Cancel" />
        }
    </div>
</body>
</html>
