@model INF272Group11Project.Models.Voter
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePasswordVoter</title>
    <link rel="stylesheet" href="~/Content/INF272Project.css" type="text/css" />
</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voting Made Easy!</h1>
    <label class="Slogan">The simple and better way to vote</label>
    <br />
    <ul class="NavigationBar">
        <li class="BarList"><a href="@Url.Action("VoterHomePage","Voter", new { VoterGUID = Model.GUID})">Home</a></li>
        <li class="BarList"><a class="OnPage" href="@Url.Action("VoteParty","Voter",  new { VoterGUID = Model.GUID, id = Model.VoterID})">Vote</a></li>
        <li class="BarList"><a class="OnPage" href="@Url.Action("VoteProvincial","Voter", new {VoterGUID = Model.GUID, id =  Model.VoterID})">Provincial Vote</a></li>
        <li class="BarList"><a href="@Url.Action("UpdateVoterInfo", "Voter", new { VoterGUID = Model.GUID, id = Model.VoterID})">Update Personal Info</a></li>
        <li class="BarList"><a href="@Url.Action("ChangePasswordVoter", "Voter",new { VoterGUID = Model.GUID, id = Model.VoterID})">Change Password</a></li>
        <li class="BarList"><a href="@Url.Action("Logout","Voter")">Logout</a></li>
    </ul>
    <h1 class="SecondaryHead">Please Enter A New Password!</h1>
    <h1 class="SecondaryHead" style="color: red;">@ViewBag.message</h1>
    <div class="Container">
        @using (Html.BeginForm("doUpdatePassword", "Voter", FormMethod.Post))
        {
            <input type="hidden" name="VoterGUID" value="@Model.GUID" />
            <input type="hidden" name="id" value="@Model.VoterID" />
            <br />
            <br />
            <label>@ViewBag.Answer</label>
            <input id="txtAnswer" type="text" name="Answer" />
            <br />
            <br />
            <label>New Password: </label>
            <input id="txtPassword" type="password" name="NewPassword" />
            <br />
            <br />
            <label>Confirm New Password: </label>
            <input id="txtConfirmPassword" type="password" name="ConfirmNewPassword" />
            <br />
            <br />
            <input id="BtnChangePassword" type="submit" value="Change Password" />
        }
        @using (Html.BeginForm("VoterHomePage", "Voter", new { VoterGUID = Model.GUID, id = Model.VoterID }))
        {
            <input id="BtnCancel" type="submit" value="Cancel" />
        }
    </div>
</body>
</html>
