@model INF272Group11Project.ViewModels.FindVotingStationViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FindVotingStation</title>
    <link rel="stylesheet" href="~/Content/INF272Project.css" type="text/css" />

    

   </head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voter Home Page!</h1>
    <label class="Slogan">The simple and better way to vote</label>
    <br />
    <ul class="NavigationBar">
        <li class="BarList"><a href="@Url.Action("Index","Voter")">Home</a></li>
        <li class="BarList"><a href="@Url.Action("RegisterVoter", "Voter")">Register To Vote</a></li>
        <li class="BarList"><a href="@Url.Action("VoterLogin", "Voter")">Voter Login</a></li>
        <li class="BarList"><a class="OnPage" href="@Url.Action("FindVotingStation", "Voter")">Find Voting Station</a></li>
        <li class="BarList"><a href="@Url.Action("StaffLogin","Staff")">Staff Login</a></li>
    </ul>
    <h1 class="SecondaryHead">Please Enter your ID Number And Search For A Voting Station!</h1>
    <h1 class="SecondaryHead" style="color: red">@ViewBag.message</h1>
    <h1 class="SecondaryHead" style="color: green">@ViewBag.success</h1>
    <div class="Container">
        @using (Html.BeginForm("SearchForStation", "Voter", FormMethod.Post))
        {
        <br />
        <br />
        <label>ID Number: </label>
        <input id="txtIDNumber" type="text" name="IDNumber" />
        <br />
        <br />
        <input id="BtnSearch" type="submit" value="Search" />
        <br />
        }
    </div>
    <br />
    <br />
    <table>
        <tr>
            <th>Voting Station Name:</th>
            <th>Province:</th>
            <th>City/Town:</th>
            <th>Suburb:</th>
            <th>Voting Station Street Address:</th>
            <th>Opening Time:</th>
            <th>Closing Time:</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.FindVotingStation.VotingStationName)</td>
            <td>@Html.DisplayFor(model => model.FindVotingStation.Province.ProvinceName)</td>
            <td>@Html.DisplayFor(model => model.FindVotingStation.Suburb.SuburbName)</td>
            <td>@Html.DisplayFor(model => model.FindVotingStation.CityOrTown.CityOrTownName)</td>
            <td>@Html.DisplayFor(model => model.FindVotingStation.VotingStationStreetAddress)</td>
            <td>@Html.DisplayFor(model => model.FindVotingStation.VotingStationOpeningTime.TimeOfDay)</td>
            <td>@Html.DisplayFor(model => model.FindVotingStation.VotingStationClosingTime.TimeOfDay)</td>
        </tr>
    </table>
</body>
</html>
