
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FindVotingStation</title>
    <link rel="stylesheet" href="~/Content/INF272Project.css" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin="" />

    <script>
        var map = L.map('map')
            .setView([13.7542, 100.493], 12);

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    </script>

    
</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voter Home Page!</h1>
    <label class="Slogan">The simple and better way to vote</label>
    <br />
    <ul class="NavigationBar">
        <li class="BarList"><a href="@Url.Action("Index","Voter")">Home</a></li>
        <li class="BarList"><a href="@Url.Action("RegisterVoter", "Voter")">Register To Vote</a></li>
        <li class="BarList"><a href="@Url.Action("VoterLogin", "Voter")">Voter Login</a></li>
        <li class="BarList"><a class="OnPage" href="@Url.Action("FindVotingStation", "Voter")">Find Voting Station</a></li>
        <li class="BarList"><a href="@Url.Action("StaffLogin","Staff")">Staff Login</a></li>
    </ul>
    <h1 class="SecondaryHead">Please Search For A Voting Station</h1>
    <div class="Container">
        <br />
        <br />
        <label>ID Number: </label>
        <input id="txtIDNumber" type="text" name="txtIDNumber" />
        <br />
        <br />
        <input id="BtnSearch" type="submit" value="Search" />
        <br />
    </div>
    <br />
    <div id="GoogleMap">
    </div>

    <div>
        <h2>Voting Station Info</h2>
        <table>
            <tr>
                <th>Name:</th>
                <th>Street Address:</th>
                <th>Opening Time:</th>
                <th>Closing Time:</th>
            </tr>
        </table>
    </div>

    <div id="map"></div>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
            integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
            crossorigin=""></script>
</body>
</html>
