@model INF272Group11Project.Models.Voter
@using INF272Group11Project.Models;
@using INF272Group11Project.ViewModels;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
    <link rel="stylesheet" href="~/Content/INF272Project.css" type="text/css" />

</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voting Made Easy!</h1>
    <label class="Slogan">The simple and better way to vote</label>
    <br />
    <ul class="NavigationBar">
        <li class="BarList"><a class="OnPage" href="@Url.Action("Index","Voter")">Home</a></li>
        <li class="BarList"><a href="@Url.Action("RegisterVoter", "Voter")">Register To Vote</a></li>
        <li class="BarList"><a href="@Url.Action("VoterLogin", "Voter")">Voter Login</a></li>
        <li class="BarList"><a href="@Url.Action("FindVotingStation", "Voter")">Find Voting Station</a></li>
        <li class="BarList"><a href="@Url.Action("StaffLogin","Staff")">Staff Login</a></li>
    </ul>
    <h1 class="SecondaryHead">Please Enter your ID Number!</h1>
    <div class="Container">
        @using (Html.BeginForm("ForgotPassword", "Voter", FormMethod.Post))
        {
            <lable>Please Enter Your ID Number: </lable>
            <input type="text" name="IDnum" />
            <br />
            <input type="submit" value="Enter"/>
        }
        @using (Html.BeginForm("VoterLogin", "Voter"))
        {
            <input id="BtnCancel" type="submit" value="Cancel" />
        }
    </div>


</body>
</html>
