
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <a href="@Url.Action("Index","Voter")">Home</a>
        <a href="@Url.Action("RegisterVoter", "Voter")">Register To Vote</a>
        <a href="@Url.Action("VoterLogin", "Voter")">Voter Login</a>
        <a href="@Url.Action("FindVotingStation", "Voter")">Find Voting Station</a>
        <a href="@Url.Action("Index","Staff")">Staff Login</a>
    </div>
</body>
</html>
