
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Content/INF272Project.css" />
</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voting Made Easy!</h1>
    <label class="Slogan">The simple and better way to vote</label>
    <br />
    <ul class="NavigationBar">
        <li class="BarList"><a class="OnPage" href="@Url.Action("Index","Voter")">Home</a></li>
        <li class="BarList"><a href="@Url.Action("RegisterVoter", "Voter")">Register To Vote</a></li>
        <li class="BarList"><a href="@Url.Action("VoterLogin", "Voter")">Voter Login</a></li>
        <li class="BarList"><a href="@Url.Action("FindVotingStation", "Voter")">Find Voting Station</a></li>
        <li class="BarList"><a href="@Url.Action("StaffLogin","Staff")">Staff Login</a></li>
    </ul>
      <h1 class="SecondaryHead">Welcome To Voting Made Easy!</h1>
        <h2 class="SecondaryHead">Here you can register as a voter by clicking "Register To Vote"</h2>
        <h2 class="SecondaryHead">or if you already registered you may login by clicking "Voter Login"</h2>
</body>
</html>
