
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateVoterInfo</title>
    <link rel="stylesheet" href="~/Content/INF272Project.css" type="text/css" />
</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voting Made Easy!</h1>
    <label class="Slogan">The simple and better way to vote</label>
    <br />
    <ul class="NavigationBar">
        <li class="BarList"><a href="@Url.Action("VoterHomePage","Voter")">Home</a></li>
        <li class="BarList"><a class="OnPage" href="@Url.Action("VoteParty","Voter")">Vote</a></li>
        <li class="BarList"><a href="@Url.Action("UpdateVoterInfo", "Voter")">Update Personal Info</a></li>
        <li class="BarList"><a href="@Url.Action("ChangePasswordVoter", "Voter")">Change Password</a></li>
        <li class="BarList"><a href="@Url.Action("Logout","Voter")">Logout</a></li>
    </ul>
    <h1 class="SecondaryHead">Please Update Your Information Below!</h1>
    <div class="Container">
        @using (Html.BeginForm("doVoterUpdate", "Voter"))
        {
            <br />
            <br />
            <label>First Names: </label>
            <input id="txtFirstName" type="text" name="FirstName" />
            <br />
            <br />
            <label>Last Name: </label>
            <input id="txtLasttName" type="text" name="Last" />
            <br />
            <br />
            <label>Address: </label>
            <input id="txtAddress" type="text" name="NewAddress" />
            <br />
            <br />
            <label>Province: </label>
            <select id="dropdowntipo">
                <option value="Province1">Province1</option>
                <option value="Province2">Province2</option>
                <option value="Province3">Province3</option>
            </select>
            <br />
            <br />
            <label>City/Town: </label>
            <select id="dropdowntipo">
                <option value="City/Town1">City/Town1</option>
                <option value="City/Town2">City/Town2</option>
                <option value="City/Town3">City/Town3</option>
            </select>
            <br />
            <br />
            <label>Suburb: </label>
            <select id="dropdowntipo">
                <option value="Suburb1">Suburb1</option>
                <option value="Suburb2">Suburb2</option>
                <option value="Suburb3">Suburb3</option>
            </select>
            <br />
            <br />
            <label>Phone Number: </label>
            <input id="txtPhoneNumber" type="text" name="PhoneNumber" />
            <br />
            <br />
            <label>Email Address: </label>
            <input id="txtEmail" type="text" name="Email" />
            <br />
            <br />
            <input id="BtnUpdate" type="submit" value="Update" />
        }
        @using (Html.BeginForm("VoterHomePage", "Voter"))
        {
            <input id="BtnCancel" type="submit" value="Cancel" />
        }
    </div>
</body>
</html>
