@model INF272Group11Project.Models.Voter

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateVoterInfo</title>
    <link rel="stylesheet" href="~/Content/INF272Project.css" type="text/css" />
</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voting Made Easy!</h1>
    <label class="Slogan">The simple and better way to vote</label>
    <br />
    <ul class="NavigationBar">
        <li class="BarList"><a href="@Url.Action("VoterHomePage","Voter", new {VoterGUID = Model.GUID})">Home</a></li>
        <li class="BarList"><a class="OnPage" href="@Url.Action("VoteParty","Voter", new {VoterGUID = Model.GUID, id = Model.VoterID})">Vote</a></li>
        <li class="BarList"><a href="@Url.Action("UpdateVoterInfo", "Voter", new {VoterGUID = Model.GUID, id = Model.VoterID})">Update Personal Info</a></li>
        <li class="BarList"><a href="@Url.Action("ChangePasswordVoter", "Voter", new {VoterGUID = Model.GUID, id = Model.VoterID})">Change Password</a></li>
        <li class="BarList"><a href="@Url.Action("Logout","Voter")">Logout</a></li>
    </ul>
    <h1 class="SecondaryHead" style="color: red">@ViewBag.message</h1>
    <h1 class="SecondaryHead" style="color: green">@ViewBag.success</h1>
    <h1 class="SecondaryHead">Please Update Your Information Below!</h1>
    <div class="Container">
        @using (Html.BeginForm("doVoterUpdate", "Voter", FormMethod.Post))
        {

            @Html.HiddenFor(model => model.VoterIDNumber)
            <br />
            <br />
            <label>First Names: </label>
            @Html.EditorFor(model => model.VoterFirstNames)

            <br />
            <br />
            <label>Last Name: </label>
            @Html.EditorFor(model => model.VoterLastName)

            <br />
            <br />
            <label>Address: </label>
            @Html.EditorFor(model => model.VoterStreetAddress)

            <br />
            <br />
            @Html.LabelFor(model => model.Suburb.CityOrTown.ProvinceID, "Select a Province: ", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("ProvinceID", null, htmlAttributes: new { @class = "form-control" })

            <br />
            <br />
            @Html.LabelFor(model => model.Suburb.CityOrTownID, "Select a City Or Town: ", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("CityOrTownID", null, htmlAttributes: new { @class = "form-control" })
            <br />
            <br />
            @Html.LabelFor(model => model.SuburbID, "Select a suburb: ", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("SuburbID", null, htmlAttributes: new { @class = "form-control" })

            <br />
            <br />
            <label>Phone Number: </label>
            @Html.EditorFor(model => model.VoterPhoneNumber)

            <br />
            <br />
            <label>Email Address: </label>
            @Html.EditorFor(model => model.VoterEmail)

            <br />
            <br />
            <input id="BtnUpdate" type="submit" value="Update" />
        }
        @using (Html.BeginForm("VoterHomePage", "Voter", new { VoterGUID = Model.GUID }))
        {
            <input id="BtnCancel" type="submit" value="Cancel" />
        }
    </div>
</body>
</html>
