@model INF272Group11Project.ViewModels.RegisterVoterVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VoterHomePage</title>
    <link rel="stylesheet" type="text/css" href="~/Content/INF272Project.css" />
</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voting Made Easy!</h1>
    <label class="Slogan">The simple and better way to vote</label>
    <ul class="NavigationBar">
        <li class="BarList"><a href="@Url.Action("VoterHomePage","Voter", new { VoterGUID = Model.voterView.voter.GUID})"></a></li>
        <li class="BarList"><a class="OnPage" href="@Url.Action("VoteParty","Voter", new {VoterGUID = Model.voterView.voter.GUID, id =  Model.voterView.voter.VoterID})">National Vote</a></li>
        <li class="BarList"><a class="OnPage" href="@Url.Action("VoteProvincial","Voter", new {VoterGUID = Model.voterView.voter.GUID, id =  Model.voterView.voter.VoterID})">Provincial Vote</a></li>
        <li class="BarList"><a href="@Url.Action("UpdateVoterInfo", "Voter", new {VoterGUID = Model.voterView.voter.GUID, id =  Model.voterView.voter.VoterID})">Update Personal Info</a></li>
        <li class="BarList"><a href="@Url.Action("ChangePasswordVoter", "Voter", new {VoterGUID = Model.voterView.voter.GUID, id = Model.voterView.voter.VoterID})">Change Password</a></li>
        <li class="BarList"><a href="@Url.Action("Logout","Voter")">Logout</a></li>
    </ul>

    <br />
    <br />
    <h1 class="SecondaryHead" style="color: red">@ViewBag.message</h1>
    <h1 class="SecondaryHead" style="color: green">@ViewBag.success</h1>
    <h1 class="SecondaryHead">Welcome To The Voter Home Page Here You Can Vote For A Party And Update Your Information</h1>
    <h2>Your Personal Details:</h2>

    <table>
        <tr>
            <th>First Names:</th>
            <th>Last Name:</th>
            <th>Email Address:</th>
            <th>Phone Number:</th>
            <th>Province:</th>
            <th>City/Town:</th>
            <th>Suburb:</th>
            <th>Street Address:</th>
        </tr>

        <tr>
            <td>@Html.DisplayFor(model => model.voterView.voter.VoterFirstNames)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.voterView.voter.VoterLastName)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.voterView.voter.VoterEmail)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.voterView.voter.VoterPhoneNumber)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.voterView.voter.Suburb.CityOrTown.Province.ProvinceName)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.voterView.voter.Suburb.CityOrTown.CityOrTownName)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.voterView.voter.Suburb.SuburbName)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.voterView.voter.VoterStreetAddress)</td>
        </tr>

    </table>
</body>
</html>
