
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VoterHomePage</title>
    <link rel="stylesheet" type="text/css" href="~/Content/INF272Project.css" />
</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voting Made Easy!</h1>
    <label class="Slogan">The simple and better way to vote</label>
    <ul class="NavigationBar">
        <li class="BarList"><a href="@Url.Action("VoterHomePage","Voter")"></a></li>
        <li class="BarList"><a class="OnPage" href="@Url.Action("VoteParty","Voter")">Vote</a></li>
        <li class="BarList"><a href="@Url.Action("UpdateVoterInfo", "Voter")">Update Personal Info</a></li>
        <li class="BarList"><a href="@Url.Action("ChangePasswordVoter", "Voter")">Change Password</a></li>
        <li class="BarList"><a href="@Url.Action("Logout","Voter")">Logout</a></li>
    </ul>

    <br />
    <br />
    <br />
    <br />
    <h1 class="SecondaryHead">Welcome To The Voter Home Page Here You Can Vote For A Party And Update Your Information</h1>
    <h2>Your Personal Details</h2>
    <table>
        <tr>
            <th>First Names:</th>
            <th>Last Name:</th>
            <th>Email Address:</th>
            <th>Phone Number:</th>
            <th>Province:</th>
            <th>City/Town:</th>
            <th>Suburb:</th>
            <th>Street Address:</th>
        </tr>
        <tr>
            <td>Voters First Name</td>
            <td>Voters Last Name</td>
            <td>Voters Email Address</td>
            <td>Voters Phone Number</td>
            <td>Voters Province</td>
            <td>Voters City/Town</td>
            <td>Voters Suburb</td>
            <td>Voters Street Address</td>
        </tr>
    </table>
</body>
</html>
