
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProvincialResults</title>
    <link rel="stylesheet" type="text/css" href="~/Content/INF272Project.css" />
</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voting Made Easy!</h1>
    <label class="Slogan">The simpler and better way to vote</label>
    <ul class="NavigationBar">
        <li class="BarList"><a href="@Url.Action("StaffHomePage","Staff")">Home</a></li>
        <li class="BarList"><a href="@Url.Action("UpdateStaffInfo", "Staff")">Update Personal Info</a></li>
        <li class="BarList"><a href="@Url.Action("ChangePasswordStaff", "Staff")">Change Password</a></li>
        <li class="BarList"><a href="@Url.Action("Index", "Report")">Create a Report</a></li>
        <li class="BarList"><a href="@Url.Action("TotalVotes","Results")">Total Votes</a></li>
        <li class="BarList"><a href="@Url.Action("NationalResults","Results")">National Results</a></li>
        <li class="BarList"><a href="@Url.Action("ProvincialResults","Results")">Provincial Results</a></li>
        <li class="BarList"><a href="@Url.Action("Logout", "Voter")">Logout</a></li>
    </ul>
    <h1 class="SecondaryHead">Provincial Results</h1>
    <div class="Container">
        <br />
        <br />
        <table>
            <tr>
                <th><b>Province:</b></th>
                <th><b>Party:</b></th>
                <th><b>Candidate:</b></th>
                <th><b>Total Votes:</b></th>
                <th><b>Vote Percentage</b></th>
            </tr>
            @{
                int temp = 0;
                for (int i = 0; i < ((SelectList)ViewData["ProvincialResultsID"]).Count(); i++)
                {
                    temp += Convert.ToInt32(((SelectList)ViewData["ProvincialResultsTotalVotes"]).ElementAt(i).Value);
                }
                for (int j = 0; j < ((SelectList)ViewData["ProvincialResultsID"]).Count(); j++)
                {
                    <tr>
                        <th>
                            @(((SelectList)ViewData["ProvinceID"]).ElementAt(j).Value)
                        </th>
                        <th>
                            @(((SelectList)ViewData["PartyID"]).ElementAt(j).Value)
                        </th>
                        <th>
                            @(((SelectList)ViewData["CandidateID"]).ElementAt(j).Value)
                        </th>
                        <th>
                            @(((SelectList)ViewData["ProvincialResultsTotalVotes"]).ElementAt(j).Value)
                        </th>
                        <th>
                            @(Convert.ToDecimal(((SelectList)ViewData["ProvincialResultsTotalVotes"]).ElementAt(j).Value) / temp * 100 + "%")
                        </th>
                    </tr>
                }
            }
        </table>
        <br />
        <br />
        @using (Html.BeginForm("StaffHomePage", "Staff"))
        {
            <input id="BtnBack" type="submit" value="Back To Home Page"/>
        }
    </div>
</body>
</html>
