<!DOCTYPE html>
@model INF272Group11Project.ViewModels.AddVotingStationVM
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/INF272Project.css">
    <title>AddVotingStation</title>
</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voting Made Easy!</h1>
    <label class="Slogan">The simple and better way to vote</label>

    <ul class="NavigationBar">
        <li class="BarList"><a class="OnPage" href="@Url.Action("StaffHomePage","Staff", new { StaffGUID = Model.StaffView.staff.GUID})">Home</a></li>
        <li class="BarList"><a href="@Url.Action("UpdateStaffInfo", "Staff", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Update Personal Info</a></li>
        <li class="BarList"><a href="@Url.Action("ChangePasswordStaff", "Staff", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Change Password</a></li>
        <li class="BarList"><a href="@Url.Action("Index", "Report", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Create a Report</a></li>
        <li class="BarList"><a href="@Url.Action("TotalVotes","Results", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Total Votes</a></li>
        <li class="BarList"><a href="@Url.Action("NationalResults","Results", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">National Results</a></li>
        <li class="BarList"><a href="@Url.Action("ProvincialResults","Results", new { StaffGUID = Model.StaffView.staff.GUID, id = Model.StaffView.staff.StaffID})">Provincial Results</a></li>
        <li class="BarList"><a href="@Url.Action("Logout", "Voter")">Logout</a></li>
    </ul>
    <h1 class="SecondaryHead">Please Update The Voting Station!</h1>
    <h1 class="SecondaryHead" style="color: red">@ViewBag.message</h1>
    <h1 class="SecondaryHead" style="color: green">@ViewBag.success</h1>
    <div class="Container">
        @using (Html.BeginForm("doVotingStationUpdate", "VotingStation"))
        {
            <input type="hidden" value="@Model.StaffView.staff.GUID" name="StaffGUID" />
            <input type="hidden" value="@Model.StaffView.staff.StaffID" name="id" />
            <input type="hidden" value="@Html.DisplayFor(model => model.VotingStation.VotingStationID)" name="VotingStationID" />
            <br />
            <br />
            <lable>Voting Station Name: </lable>
            <input type="text" value="@Model.VotingStation.VotingStationName" name="VotingStationName" />
            <br />
            <br />
            <label>Select Province: </label>
            @Html.DropDownList("ProvinceID", null, htmlAttributes: new { @class = "form-control" })
            <br />
            <br />
            <label>Select City or Town: </label>
            @Html.DropDownList("CityOrTownID", null, htmlAttributes: new { @class = "form-control" })
            <br />
            <br />
            <label>Select Suburb: </label>
            @Html.DropDownList("SuburbID", null, htmlAttributes: new { @class = "form-control" })
            <br />
            <br />
            <label>Enter Street Address: </label>
            <input type="text" value="@Model.VotingStation.VotingStationStreetAddress" name="StreetAddress" />
            <br />
            <br />
            <label>Longitude: </label>
            <input type="number" value="@Model.VotingStation.VotingStationLongitude" name="Longitude" />
            <br />
            <br />
            <label>Latitude: </label>
            <input type="number" value="@Model.VotingStation.VotingStationLatitude" name="Latitude" />
            <br />
            <br />
            <label>Opening Time: </label>
            <input type="time" value="@Model.VotingStation.VotingStationOpeningTime.TimeOfDay" name="OpeningTime" />
            <br />
            <br />
            <label>Closing Time: </label>
            <input type="time" value="@Model.VotingStation.VotingStationClosingTime.TimeOfDay" name="ClosingTime" />
            <br />
            <br />
            <input id="BtnUpdate" type="submit" value="Update" name="Update" />
        }
        @using (Html.BeginForm("StaffHomePage", "Staff", new { StaffGUID = Model.StaffView.staff.GUID }))
        {
            <input id="BtnCancel" type="submit" value="Cancel" name="Cancel" />
        }
    </div>
</body>
</html>