<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/RobsStuff.css">
    <title>AddVotingStation</title>
</head>
<body>
    <div class="VOTE">
        <table class="Logo">
            <tr>
                <td rowspan="3"><img src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt=":)" /></td>
                <td><h1>VOTING MADE EASY</h1></td>
            </tr>
            <tr>
                <td>Simple and secure voting</td>
            </tr>
            <tr>
                <td>for your specific party</td>
            </tr>
        </table>

        <table class="NavBar">
            <tr>
                <td><a href="@Url.Action("Index","Voter")">Home</a></td>
                <td><a href="@Url.Action("RegisterVoter","Voter")">Register Voter</a></td>
                <td><a href="@Url.Action("VoterLogin","Voter")">Voter Login</a></td>
                <td><a href="@Url.Action("StaffLogin","Staff")">Staff Login</a></td>
                <td><a href="@Url.Action("FindVotingStation","Voter")">Find a Voting Station</a></td>
                <td><a href="@Url.Action("Index","Voter")">About Us</a></td>
            </tr>
        </table>

        <table class="AddVotingStation" align="center">
            <tr>
                <td align="center">Voting Station Name:</td>
                <td align="center"><textarea id="TextArea1" rows="1" cols="20"></textarea></td>
            </tr>
            <tr>
                <td align="center">Enter Street Address:</td>
                <td align="center"><textarea id="TextArea2" rows="1" cols="20"></textarea></td>
            </tr>
            <tr>
                <td align="center">Longitude:</td>
                <td align="center"><textarea id="TextArea3" rows="1" cols="20"></textarea></td>
            </tr>
            <tr>
                <td align="center">Latitude:</td>
                <td align="center"><textarea id="TextArea4" rows="1" cols="20"></textarea></td>
            </tr>
            <tr>
                <td align="center">Voting District Number:</td>
                <td align="center"><textarea id="TextArea5" rows="1" cols="20"></textarea></td>
            </tr>
            <tr>
                <td align="center">Opening Time:</td>
                <td align="center"><textarea id="TextArea6" rows="1" cols="20"></textarea></td>
            </tr>
            <tr>
                <td align="center">Closing Time:</td>
                <td align="center"><textarea id="TextArea7" rows="1" cols="20"></textarea></td>
            </tr>
            <tr>
                <td align="center" height="100"><input id="Button1" type="button" value="Update" /></td>
                <td align="center" height="100"><input id="Button2" type="button" value="Cancel" /></td>
            </tr>
        </table>
    </div>
</body>
</html>