@model IEnumerable<INF272Group11Project.Models.Candidate>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CandidateFirstNames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidateLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidatePosition.CandidatePosition_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Party.PartyName)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CandidateFirstNames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CandidateLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CandidatePosition.CandidatePosition_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Party.PartyName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Candidate_ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.Candidate_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Candidate_ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
